<h1>Subs#new</h1>
<p>Find me in app/views/subs/new.html.erb</p>
<h1>New Sub</h1>

<form action="<%= subs_url %>" method="POST">
	<%= auth_token %>

	<input type="hidden" name="sub[user_id]" value="<%= current_user.id %>">

	<label> Name:
		<input type="text" name="sub[name]"></input><br>
	</label>

	<button type="submit">Create</input>

</form>